!!!
=  render "/refinery/html_tag"
- site_bar = render('/refinery/site_bar', :head => true)
%head
  = render "/refinery/head"
%body
  = site_bar
  .container#dialog_container
    .col-md-2
      %img.img-responsive.img-thumbnail(src="#{request.protocol}#{request.host_with_port}/system/images/W1siZiIsIjIwMTQvMDQvMDIvMTVfMDRfMDRfNTcwX3Byb2ZpbGVfZGVmYXVsdC5qcGciXSxbInAiLCJ0aHVtYiIsIjIyNXgyNTU%2BIl0sWyJwIiwic3RyaXAiXV0/profile-default.jpg")
      #sidebar.navbar.sidebar-offcanvas{role: "navigation"}
        = Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html
        -#= navigation_menu.to_html
    .col-md-10
      %header#header.row
        = render "refinery/header"
      %section#page
        = yield
      %footer
        = render "refinery/footer"
  = render "/refinery/javascripts"