!!!
=  render "/refinery/html_tag"
- site_bar = render('/refinery/site_bar', :head => true)
%head
  = render "/refinery/head"
%body
  = site_bar
  .container#dialog_container
    .row
      .col-md-4.col-md-offset-7
        %ul#locale.nav.nav-pills
          - Refinery::I18n.config.frontend_locales.each do |locale|
            %li{:class => ('active' if I18n.locale == locale)}
              = link_to "/#{locale.to_s + request.path}", {:title => Refinery::I18n.locales[locale]} do
                %span= Refinery::I18n.locales[locale]
    .row
      .col-md-2
        - if Refinery::Customizations::Customization.first.image
          = image_tag Refinery::Customizations::Customization.first.image.url, :class => 'img-responsive img-thumbnail img-rounded'
      .col-md-9
        %header#header.row
          = render "refinery/header"
    .row
      .col-md-2
        =# Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html
        #sidebar.navbar.sidebar-offcanvas{role: "navigation"}
          = navigation_menu.to_html
      .col-md-9#main_page
        %section#page
          = yield
    %footer.row
      = render "refinery/footer"
  = render "/refinery/javascripts"