!!!
=  render "/refinery/html_tag"
- site_bar = render('/refinery/site_bar', :head => true)
%head
  = render "/refinery/head"
%body
  = site_bar
  .container#dialog_container
    .row
      .col-md-2
        - if Refinery::Customizations::Customization.first.image
          = image_tag Refinery::Customizations::Customization.first.image.url, :class => "img-responsive img-thumbnail"
        #sidebar.navbar.sidebar-offcanvas{role: "navigation"}
          =# Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html
          = navigation_menu.to_html
          - puts "Hello world, in layout"
      .col-md-10
        %header#header.row
          = render "refinery/header"
        %section#page
          = yield
    %footer.row
      = render "refinery/footer"
  = render "/refinery/javascripts"